body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
nav{
    position:sticky;
    top: 0px;
    background-color: rgb(81, 81, 81);
    opacity: 0.8;
    box-shadow: 0 0 50px black;
    display: inline-flex;
    width: 100%;
    z-index: 2; 
}
nav ul{
    margin: 10px;
    z-index: 5;
}
nav ul li{
    list-style: none;
    float: left;
    margin: 0px 20px;
    z-index: 10;
    color: white;
}
nav ul li a{
    text-decoration: none;
    z-index: 10;
    color: white;
}
nav ul li a:hover{
    cursor: pointer;
    color: rgb(91, 181, 255);
}
nav ul li img{
    width: 150px;
}
#home-screen{
    background-color: black;
    background-image: url(images/CarHomePic2.jpg);
    filter: brightness(0.8);
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    width: 100%;
    margin-top: -50px;
}
#products{
    background-color: white;
    padding: 10px 5vw;
    box-shadow: inset 0 5px 5px rgb(119, 119, 119);
}
.heading{
    text-align: center;
    font-size: 30px;
}
.product-container{
    display: inline-block;
    margin: 10px 5vw;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.product-pic{
    height: 130px;
    width: 170px;
}
#car-section{
    margin: 40px 0 0 0 ;
    box-shadow: 0 0 10px grey;
}
.car-para{
    background-color: aqua;
    max-width: 100%;
    box-sizing: border-box;
    margin: 10px 0px;
}
.car-para-img{
    height: 400px;
    width: 50%;
    float: right;
}
.car-para-img2{
    height: 400px;
    width: 50%;
}
.car-para-desc{
    background-color: rgb(34, 69, 97);
    color: rgb(200, 200, 200);
    height: 400px;
    width: 50%;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    padding: 30px 50px;
    box-sizing: border-box;
}
.car-para-desc2{
    background-color: rgb(34, 69, 97);
    height: 400px;
    width: 50%;
    float: right !important;
}
.car-para-img-pic{
    width: 100%;
    height: 100%;
}
.sub-heading{
    font-weight: bold;
    font-size: 28px;
    color: #fff;
}
#services{
    max-width: 100%;
    padding: 20px;
    background-color:black;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px grey;
}
.services-container{
    display: inline-block;
    text-align: center;
    font-size: 18px;
}
.services-img{
    height: 100px;
    margin: 20px 90px;
}
#contact-us{
    height: 500px;
    max-width: 100%;
}
#contact-form{
    float: right;
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    padding: 100px 5%;
}
#contact-img{
    height: 100%;
    width: 50%;
    box-sizing: border-box;
}
.form-input-heading{
    font-size: 20px;
    font-weight: bold;
}
.form-input{
    border-style: none;
    border-bottom: 2px solid black;
    display: block;
    width: 100%;
    margin:25px 0px;
    font-size: 18px;
    outline-color: white;
}
#form-btn{
    background-color: #224561;
    color: white;
    font-weight: 20px;
    padding: 10px 20px;
    border-style: none;
    transition-duration: 200ms;
}
#form-btn:hover{
    background-color: #fff;
    color: rgb(34, 69, 97);
    border: 1px solid rgb(34, 69, 97);
    cursor: pointer;
}
#footer{
    background-color: rgb(34, 69, 97);
    color: white;
    padding: 40px 10px;
}
table{
    margin: 10px auto;
}
table tr th {
    padding: 10px 30px;
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
    text-transform: uppercase;
    text-decoration: underline;

}
table tr td {
    padding: 8px 20px;
    text-align: center;
    font-size: 17px;
}
table tr td:hover{
    color: rgb(137, 137, 137);
    cursor: pointer;
}
.contact-img{
    height: 40px;
    width: 40px;
    margin: 10px 5px;
}
.contact-img:hover{
    cursor:pointer;
    transform: scale(1.2);
    transition-delay: 200ms;
}
#contact{
    margin-left: 30px;
}
.know-more{
    background-color: #fff;
    font-size: 20px;
    color: black;
    border-style: none;
    height: 40px ;
    transition: 500ms;
}
.know-more:hover{
    cursor: pointer;
    background: rgb(0, 0, 0);
    color: #fff;
}